.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-register {
    width: 360px;
    height: 410px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

#form-register>h2 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #F5F5F5;
    border-radius: 5px 5px 0 0;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.form-control-register:nth-last-child(-n+5) {
    grid-column: 1/span 2;
}

#form-register .form-control-register {
    height: 40px;
    position: relative;
    margin-bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.form-control-register input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-control-register input:focus {
    border-color: #286090
}

.form-control-register input:is(:focus, :valid) {
    outline: none;
    padding: 16px 20px 0;
}

.form-control-register label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555555;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-control-register input:is(:focus, :valid)~label {
    font-size: 9px;
    transform: translateY(-130%);
}

#btn-register {
    background: #286090;
    padding: 8px 0;
    color: #fff;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    grid-column: 1/span 2;
}

#btn-register>i {
    margin-right: 5px;
}

#btn-register:hover {
    background-color: #1a4e7d;
    cursor: pointer;
}