<div class="main__title">
    <h2>Chọn chế độ chơi</h2>
</div>
<div class="main__content">
    <div class="game-mode">
        <div class="monster-mode btn-mode">
            <a href="#">
                <img src="/img/lion.png" alt="">
                Bắn quái vật
            </a>
        </div>
        <div class="team-mode btn-mode">
            <a href="/play/lobby">
                <img src="/img/lion.png" alt="">
                Đấu đội
            </a>
        </div>
        <div class="single-mode btn-mode">
            <a href="#">
                <img src="/img/lion.png" alt="">
                Đấu đơn
            </a>
        </div>
    </div>
</div>