<link rel="stylesheet" href="/css/history.css">
<div class="history">
    <div class="history__header">
        <h2 class="header__title">Lịch sử trận đấu</h2>
    </div>
    <div class="history__content">
        <table class="history__content-table">
            <thead>
                <th>STT</th>
                <th>Chủ phòng</th>
                <th>Hình thức</th>
                <th>Map</th>
                <th>Thời gian</th>
                <th>Chi tiết</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="/img/Alice.jpg" alt="avatar" class="avatar"><span>trungnguyen</span></td>
                    <td>Đấu đội</td>
                    <td>Sa mạc</td>
                    <td>10:03</td>
                    <td><a href="">Xem</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>